<h1>All Inquiries</h1>

<%= link_to 'New Inquiry', new_inquiry_path, class: "button radius" %>

<table>
  <thead>
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Email</th>
      <th>Subject</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @inquiries.each do |inquiry| %>
      <tr>
        <td><%= inquiry.last_name %></td>
        <td><%= inquiry.first_name %></td>
        <td><%= inquiry.email %></td>
        <td><%= inquiry.subject %></td>
        <td><%= inquiry.description %></td>
        <td><%= link_to 'Show', inquiry %></td>
        <td><%= link_to 'Edit', edit_inquiry_path(inquiry) %></td>
        <td><%= link_to 'Delete', inquiry_path(inquiry), method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>
